.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailId::after{
    content: "*";
    color: red;
    margin-left: 2px;
}

.otp::after{
    content: "*";
    color: red;
    margin-left: 2px;
}

.input{
    border-radius: 10px;
    border: none;
    outline: none;
}

